{% from "macros.html" import post_list with context %} {% extends "base.html" %}
{% block title %} Profile {% endblock %} {% block content %}
<div class="d-flex flex-column gap-4">
  <div class="d-flex justify-content-center gap-4">
    {% if user.username[0].isalpha() %}
    <img
      src="{{ url_for('static', filename='profile_pictures/' + user.username[0].upper() + '.png') }}"
      alt="{{user.username}}'s profile picture"
      width="150"
      height="150"
      class="rounded-circle"
    />
    {% else %}

    <img
      src="{{ url_for('static', filename='profile_pictures/fallback_pfp.png') }}"
      alt="Fallback profile picture"
      width="150"
      height="150"
      class="rounded-circle"
    />

    {% endif %}

    <div class="d-flex flex-column">
      <h4>{{user.username}}</h4>
      <p>Posts: {{posts|length}}</p>
    </div>
  </div>

  {{ post_list(posts, deletePostForm, current_user) }}
</div>
{% endblock %}
